.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: rgb(150, 7, 54);
    color: white;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #7e87a1;
}

.header-row {
    background: #073a6d;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: midnightblue;
    color: mintcream;
}